## DATAPRE Final Output

S14<br> Members: <br> Dy, Justin <br> Dayon, Elijah <br>Recomono, Francis <br> Singson, Raymond <br> Velarde, Rollo

In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.72-py2.py3-none-any.whl (27 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in d:\anaconda\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: pandas>=0.24.0 in d:\anaconda\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: requests>=2.26 in d:\anaconda\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: lxml>=4.5.1 in d:\anaconda\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\anaconda\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.72
Note: you may need to restart the kernel to use updated packages.

### Top 20 Stocks

The top 20 stocks was determined by the group to be the stocks with the highest market cap. The group gathered the market cap data from: <br> **https://www.tradingview.com/markets/stocks-usa/market-movers-large-cap/** <br>

As of June 23, 2022, the top 20 stocks are:

- Apple Inc.
- Microsoft Corp.
- Alphabet Inc. (Google) Class C
- Amazon.com Inc.
- Tesla Inc.
- Berkshire Hathaway Inc.
- Johnson & Johnson
- United Health Group Incorporated
- Meta Platforms Inc.
- NVIDIA Corporation
- Visa Inc.
- Exxon Mobile Corporation
- Procter & Gamble Company  
- JP Morgan & Chase Co.
- Walmart Inc.
- Mastercard Inc.
- Eli Lilly and Company
- Home Depot Inc.
- Pfizer Inc.
- Chevron Inc.

It is also to be noted that a few of the top 20 stocks' tickers were not able to be found. In this case, the group picked the next stock on the list until a stock with a yfinance ticker can be found and fill up the remaining slots.

### Downloading the Data of the top 20 stocks in the United States

In this part of the notebook, the group will be downloading the data for each stock from the **yfinance** API from 01/01/2017 to 06/23/2022.

In [42]:
# Dowloading the data of top 20 stocks

# Apple Inc.
aapl = yf.download("AAPL", start="2017-01-01", end="2022-06-23")

# Microsoft Corp.
msft = yf.download("MSFT", start="2017-01-01", end="2022-06-23")

# Alphabet Inc. (Google) Class C
goog = yf.download("GOOG", start="2017-01-01", end="2022-06-23")

# Amazon.com Inc.
amzn = yf.download("AMZN", start="2017-01-01", end="2022-06-23")

# Tesla Inc.
tsla = yf.download("TSLA", start="2017-01-01", end="2022-06-23")

# Berkshire Hathaway Inc.
brka = yf.download("BRK-A", start="2017-01-01", end="2022-06-23")

# Johnson & Johnson
jnj = yf.download("JNJ", start="2017-01-01", end="2022-06-23")

# United Health Group Incorporated
unh = yf.download("UNH", start="2017-01-01", end="2022-06-23")

# Meta Platforms Inc.
meta = yf.download("META", start="2017-01-01", end="2022-06-23")

# NVIDIA Corporation
nvda = yf.download("NVDA", start="2017-01-01", end="2022-06-23")

# Visa Inc.
v = yf.download("V", start="2017-01-01", end="2022-06-23")

# Exxon Mobile Corporation
xom = yf.download("XOM", start="2017-01-01", end="2022-06-23")

# Procter & Gamble Company  
pg = yf.download("PG", start="2017-01-01", end="2022-06-23")

# JP Morgan & Chase Co.
jpm = yf.download("JPM", start="2017-01-01", end="2022-06-23")

# Walmart Inc.
wmt = yf.download("WMT", start="2017-01-01", end="2022-06-23")

# Mastercard Inc.
ma = yf.download("MA", start="2017-01-01", end="2022-06-23")

# Eli Lilly and Company
lly = yf.download("LLY", start="2017-01-01", end="2022-06-23")

# Home Depot Inc.
hd = yf.download("HD", start="2017-01-01", end="2022-06-23")

#Pfizer Inc.
pfe = yf.download("PFE", start="2017-01-01", end="2022-06-23")

#Chevron Inc.
cvx = yf.download("CVX", start="2017-01-01", end="2022-06-23")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

## Data Dictionary

In [28]:
# Creating list of data for the data dictionary
d = {'Variables': ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], 'Definition' : ['Day', 'Opening Stock Price in PHP', 
'Highest Stock Price on the Day Selected', 'Lowest Stock Price on the Day Selected', 'Closing Stock Price', 'Closing Stock Price Adjusted', 'Total Stocks Sold'], 
'Key' : ['Date and Opening Time', 'Stock Price', 'Stock Price', 'Stock Price', 'Stock Price', 'Stock Price', 'Quantity']}

data_dict = pd.DataFrame(data = d)
data_dict

   Variables                               Definition                    Key
0       Date                                      Day  Date and Opening Time
1       Open               Opening Stock Price in PHP            Stock Price
2       High  Highest Stock Price on the Day Selected            Stock Price
3        Low   Lowest Stock Price on the Day Selected            Stock Price
4      Close                      Closing Stock Price            Stock Price
5  Adj Close             Closing Stock Price Adjusted            Stock Price
6     Volume                        Total Stocks Sold               Quantity

## Open Dataset Creation

In [47]:
# Instead of merging all the dataframes together, we will query up all the tickers using yfinance
dataframe = yf.download("AAPL MSFT GOOG AMZN TSLA BRK-A JNJ UNH META NVDA V XOM PG JPM WMT MA LLY HD PFE CVX", start="2017-01-01", end="2022-06-23")
dataframe

[*********************100%***********************]  20 of 20 completed

             Adj Close                                                 \
                  AAPL        AMZN     BRK-A         CVX         GOOG
Date
2017-01-03   27.257643   37.683498  245850.0   92.566818   786.140015
2017-01-04   27.227140   37.859001  246600.0   92.543236   786.900024
2017-01-05   27.365593   39.022499  244852.0   92.142677   794.020020
2017-01-06   27.670670   39.799500  245394.0   91.773514   806.150024
2017-01-09   27.924122   39.846001  243111.0   90.988045   806.650024
...                ...         ...       ...         ...          ...
2022-06-15  135.429993  107.669998  418600.0  164.259995  2207.810059
2022-06-16  130.059998  103.660004  403971.0  155.479996  2132.719971
2022-06-17  131.559998  106.220001  403150.0  148.380005  2157.310059
2022-06-21  135.869995  108.680000  407800.0  154.589996  2240.300049
2022-06-22  135.350006  108.949997  405649.0  147.869995  2240.679932

                                                                        ...  \
                    HD         JNJ         JPM         LLY          MA  ...
Date                                                                    ...
2017-01-03  118.137138  100.231377   75.095192   66.471489  102.138657  ...
2017-01-04  119.183823  100.066963   75.233673   66.578384  103.107834  ...
2017-01-05  117.776474  101.113930   74.541145   67.353615  103.904167  ...
2017-01-06  117.451050  100.629372   74.549805   67.424889  104.651939  ...
2017-01-09  118.137138  100.612068   74.601753   67.959511  104.448006  ...
...                ...         ...         ...         ...         ...  ...
2022-06-15  279.730011  169.990005  115.410004  292.989990  325.390015  ...
2022-06-16  273.459991  170.080002  113.430000  288.070007  308.779999  ...
2022-06-17  270.730011  169.460007  113.029999  290.899994  310.690002  ...
2022-06-21  269.200012  173.009995  115.830002  297.339996  317.399994  ...
2022-06-22  268.980011  175.740005  115.180000  306.690002  316.149994  ...

              Volume                                                     \
                META      MSFT       NVDA       PFE        PG      TSLA
Date
2017-01-03  20663900  20694100  150199600  23391844   8792700  29616500
2017-01-04  19630900  21340000  119922000  22753963   8096700  56067500
2017-01-05  19492200  24876000   98429600  21083584   6852400  29558500
2017-01-06  28545300  19922900   82285600  18418228   4799900  27639500
2017-01-09  22880400  20382700   91624800  21559886  11000600  19897500
...              ...       ...        ...       ...       ...       ...
2022-06-15  30008300  33111700   56393600  25748000  12178100  39710600
2022-06-16  26944100  33169200   54574900  20424500   9683300  35796900
2022-06-17  31295300  42800400   62905700  44837200  17062900  30810900
2022-06-21  50724900  29928300   48308900  19622100   9017000  40931000
2022-06-22  47267800  25939900   43713500  20382900   8374500  33702500


                UNH         V       WMT       XOM
Date
2017-01-03  3539700  13785200  10473200  10360600
2017-01-04  2695200   8033100   7918000   9434200
2017-01-05  2961100   7805100   7099200  14443200
2017-01-06  3081300   8898300   9491100  16518100
2017-01-09  3040800   7305300   8685200  13762300
...             ...       ...       ...       ...
2022-06-15  2550700   6490000   8638000  29620800
2022-06-16  3135600   9887200  10235600  35696700
2022-06-17  5277400  15087700  12166700  64586200
2022-06-21  5726800   6241600   7972200  35951500
2022-06-22  5061000   5138500   6745000  29727200

[1377 rows x 120 columns]

Now that we have the dataframe, we would now convert it to a json file

In [49]:
dataframe.to_json('Group2-Stocks.json',orient='index')